body{
Background-color: lightpink;
  
}
img{
width: 250px;
  
}
p{
color: darkpink;
  font-family: atma;
  
}
h1{
  color: darkpink;
  font-family: atma;
}
h2{
color: darkpink;
  font-family: atma;
}
.container{

color: darkpink;
  font-family: atma;

  
}

  

