body{
Background-color: lightpink; 
}
img{
   align: center;
width: 250px;  
}
button{
   align: center
padding: 15px;
}
  
p{
color: darkpink;
   align: center;
  font-family: atma; 
}
h1{
  color: darkpink;
   align: center;
  font-family: atma;
}
h2{
color: darkpink;
   align: center;
  font-family: atma;
}
.container{
color: darkpink;
   align: center;
  font-family: atma;
}
 p {
   font-size: 30px; 
   align: center; 
 }


  

