body{
Background-color: lightpink; 
}
img{
 align-self: center;
width: 250px;  
}
button{
padding: 15px;
}
  
p{
color: darkpink;
   text-align: center;
  font-family: atma; 
}
h1{
  color: darkpink;
   text-align: center;
  font-family: atma;
}
h2{
color: darkpink;
   text-align: center;
  font-family: atma;
}
.container2{
color: darkpink;
   
  font-family: atma;
}
 p {
   font-size: 20px; 
   text-align: center; 
 }

.container {
 display:
flex;
  flex-direction: row-reverse;
 justify-content: center;
 align-self: center;
}

h3{
color: darkpink;
  font-family: atma;
}



  

